// Styling för knappar
.btnOne {
    text-align: center;
    justify-content: center;
    background-color: $lightpink;
    border: none;
    border-radius: 12px;
    padding: 10px 30px;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1em;

    &:hover{
        background-color: $darkpink;
        color: $lightColor;
    }
}
/* extend knapp ett men ändra färger */
.btnTwo {
    @extend .btnOne;
    background-color: $darkpink;
    color: $lightColor;

    &:hover{
        background-color: $lightpink;
        color: $darkColor;
    }
    }

    .tdButt{
        background-color: $lightpink;
        padding: 1em; 
        border: none;
        border-radius: 16px;
        font-size: 0.8em;

        &:hover{
            background-color: $darkpink;
            color: $lightColor;
        }
    }

    .tdButt2{
        @extend .tdButt; 
        background-color: $darkpink;
        color: $lightColor;
    
        &:hover{
            background-color: $lightpink;
            color: $darkColor;
        }
        @include mobile {
           margin-right: -1.5em;
           font-size: smaller;
         }
    }