
footer{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
   p{
    color: $darkpink;
//inkluderar styling för dark mode
    @include darkMode {
        color: $lightpink;
    }
   }
}

